@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Colores */
  --color-primary: #327CEC ;
  --color-secondary: #D85454 ;
  --color-cold-white: #E3EDFF ;
  --color-dark: #131111;
  /* Fonts */
  --default-font-family: "Geist", system-ui, sans-serif;
  --font-sansita: "Sansita", system-ui, sans-serif;
  --breakpoint-xs: 300px;

}